@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Delius&family=Playwrite+DE+SAS:wght@100..400&display=swap');
body{

    display: flex;
    height: 100vh;
    background-color: rgb(0, 0, 87);
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    color: rgb(255, 244, 244);
    
}











