body{
    background-color: gray;
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button{
    width: 500px;
    background-color: rgb(62, 199, 62);
    height: 50px;
    border-radius: 10px;
}