body{
    background-color: gray;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

div{
    width: 1800px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}

.bask{
    width: 300px;
    background-color: rgb(187, 187, 187);
    height: 50px;
    border-radius: 10px;
}