body{
    background-color: rgb(140, 140, 146);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.main{

    width: 500px;
    height: 200px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
    border: 5px solid rgb(89, 86, 86);
}




.back{


    display: flex;
    align-self: flex-end;
    background-color: rgb(67, 67, 70);
    width: 100px;
    height: 30px;


}