body{
    background-color: gray;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div{
    width: 1800px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}

h1{
    margin-top: 200px;
}

.bask{
    width: 300px;
    background-color: rgb(187, 187, 187);
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}


.join{


    width: 300px;
    background-color: rgb(187, 187, 187);
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;


}