@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Delius&family=Playwrite+DE+SAS:wght@100..400&display=swap');

body{

    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    display: flex;
    height: 100vh;
    gap: 30px;
    flex-direction: column;
    background-color: rgb(60, 58, 58);



}

.muvi1{
    width: 1450px;
    background-color: rgb(159, 150, 150);
}


.muvi2{
    width: 1450px;
    background-color: rgb(159, 150, 150);
}


.muvi3{
    width: 1450px;
    background-color: rgb(159, 150, 150);
}


.muvi4{
    width: 1450px;
    background-color: rgb(159, 150, 150);
}



button{

    width: 300px;
    height: 50px;
    background-color: rgb(49, 47, 47);
}