body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(129, 126, 126);
    flex-direction: column;
    
}




.checkbox{

    width: 50px;
    height: 50px;

}



input:active{

background-color: rgb(129, 118, 118);

}


input:hover{

background-color: rgb(154, 147, 147);

}



h1{

    font-size: 50px;



}


.sent{

    width: 500px;
    height: 50px;
    background-color: rgb(122, 117, 117);



}