body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #4f4e4e;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    background-color: #4f4e4e;
}

h1 {
    color: #333;
    background-color: #4f4e4e;
}

.level {
    margin-top: 20px;
    border-radius: 1px solid #ccc;
    background-color: #4f4e4e;

    

}

.level h2 {
    color: #007BFF;
}

.question {
    margin-top: 10px 0;
    background-color: #4f4e4e;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
    background-color: #4f4e4e;
}

.option {
    border-radius: 5px;
}